<%# if @articles.errors.any? %>
<h1>The following errors prevented from article getting created</h1>
<ul>
	<% @article.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<%# end %>
<h2>New Article</h2>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>
