<%# if @articles.errors.any? %>
<ul>
	<% @article.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<%# end %>
<h2>New Article</h2>

<%= render 'form', article: @article %>

<%= link_to 'Back', current_user %>
